.input-search {
    width: 200px;
}

.media-container {
    max-height: 600px;
    border: 2px solid lightgray;
    border-radius: 15px;
    padding: 20px;
    overflow: auto;
}

.media-container::-webkit-scrollbar {
    display: none;
}

.flag {
    width: 65px;
    height: 55px;
}

.media-card {
    width: 250px;
    height: 350px;
    padding: 0;
    margin: 5px;
}

.media-card:hover .media-image {
    display: none;
}

.media-card:hover .media-info {
    display: block;
}

.media-image {
    height: 100%;
    object-fit: contain;
}

.media-info {
    display: none;
}